version: '3.8'

services:

  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mongoDb:27017/estate_management
    depends_on:
      - mongoDb
    networks:
      - backend-net

  mongoDb:
    image: mongo:5
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend-net

volumes:
  mongo_data:

networks:
  backend-net: